body, html {
	height: 100%;
	width: 100%;
}

body {
	color: #f8f8f8;
	text-align: center;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.landing-div {
	display: table;
  	height: 100%;
	width: 100%;
 	position: relative;
	background: url(../img/landing-bg.jpg) no-repeat center center; 
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.intro-message {
	position: relative;
	margin: 10% auto;
	width: 400px;
	background-color: rgba(66, 66, 66, 0.3);
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h2 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message > h1 {
		font-size: 3em;
	}

	.intro-divider {
		width: 100%;
	}

	.intro-message {
		width: 100%;
	}
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.recordar-datos {
	text-align: left;
}
